main img {
  width: 280px;
  display: block;
}

main a span {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  font-family: "Rockwell Extra Bold", sans-serif;
}

main h1 {
  font-family: Bahnschrift, monospace;
}

main .section {
  margin-top: 10px;
  margin-bottom: 10px;
}

header .nav-link {
  font-size: 20px;
  font-family: "Rockwell Extra Bold", sans-serif;
  color: rgba(230, 230, 230, 1);
}

header img {
  border-radius: 10px;
  padding: 5px 10px;
  background: #E6E413;
  height: 50px;
}

@media (min-width: 992px) {
  header img {
    height: 70px;
  }
}

/*.container {*/
/*  padding: 10px;*/

/*}*/

/*h1 {*/
/*  color: azure;*/
/*}*/

/*h2 {*/
/*  color: azure;*/
/*}*/

/*h4 {*/
/*  color: azure;*/
/*}*/

